html {
    height: 100%;
    width: 100%;
}

.logo-pane {
    -fx-background-color: lightblue;
}

.options-pane {
    -fx-background-color: lightgoldenrodyellow;
}

.button {
    -fx-font-family: "Montserrat", "Lato", serif;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 5px;
    -fx-border-style: solid;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-text-fill: white;
}

.game-combobox {
    -fx-border-color: #ff746c;
}

.game-combobox:hover {
    -fx-background-color: #ff746c;
    -fx-text-fill: white;
}

.game-combobox > .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.game-combobox > .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

/* Make prompt text white on hover (only when no item is selected) */
.game-combobox:hover > .list-cell:empty {
    -fx-text-fill: white;
}

/* Optional: also make selected text white on hover */
.game-combobox:hover > .list-cell {
    -fx-text-fill: white;
}

.level-combobox {
    -fx-border-color: #b7f582;
}

.level-combobox:hover {
    -fx-background-color: #b7f582;
}

.level-combobox > .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

/* Make prompt text white on hover (only when no item is selected) */
.level-combobox:hover > .list-cell:empty {
    -fx-text-fill: white;
}

/* Optional: also make selected text white on hover */
.level-combobox:hover > .list-cell {
    -fx-text-fill: white;
}

.engine-button {
    -fx-border-color: #ffbe4e;
}

.engine-button:hover {
    -fx-background-color: #ffbe4e;
    -fx-text-fill: white;
}

.editor-button {
    -fx-border-color: #535bff;
}

.editor-button:hover {
    -fx-background-color: #535bff;
    -fx-text-fill: white;
}

.help-button {
    -fx-border-color: #ccccff;
}

.help-button:hover {
    -fx-background-color: #ccccff;
    -fx-text-fill: white;
}

body {
    font-family: 'Montserrat', 'Lato', serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
}